* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: white;
  overflow: hidden;
}

/* modal */
.club-change-modal {
  display: none;
  position: fixed;
  width: 375px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
}

.cmm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ccm2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 270px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 12px;
  background-color: #dbdbdb;
  padding-top: 10px;
}

.ccm2::-webkit-scrollbar {
  display: none;
}

.modal-items {
  width: 350px;
  height: 60px;
  position: relative;
  background-color: #dbdbdb;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 30px;
  /* border-bottom: 1px solid #c7c7c7; */
}

.ccm2 hr {
  border-width: 1px 0px 0px 0px;
  height: 1px;
  border: 0px;
  margin-left: 30px;
  margin-right: 30px;
  background: #c7c7c7;
}

.modal-items img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 4px;
}

.modal-items p {
  font-size: 14px;
  padding-top: 1px;
}

/* comment modal */
.comment-modal {
  display: flex;
  position: fixed;
  width: 375px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  z-index: 100;
}

.cm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cm2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 12px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.content1 {
  flex: 1;
  overflow-y: auto;
}

.content2 {
  position: sticky;
  bottom: 0;
  height: 38px;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
}

.input-bar {
  display: flex;
}

.input-bar input {
  width: 285px;
  border-radius: 100px;
  border: 1px solid #d9d9d9;
  padding-left: 10px;
  padding-top: 2px;
}

.input-bar input::placeholder {
  font-size: 12px;
}

.input-bar input:focus {
  border-color: #0e207f;
  outline: none;
}

.send-btn {
  margin-left: auto;
  cursor: pointer;
}

.cm2::-webkit-scrollbar {
  display: none;
}

.comment-items {
  width: 340px;
  height: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  padding: 8px;
}

.cm2 hr {
  border-width: 1px 0px 0px 0px;
  height: 1px;
  border: 0px;
  background: #c7c7c7;
}

.user-info,
.comment-content {
  display: flex;
  height: 20px;
}

.user-info p {
  font-size: 11px;
  color: #6a6a70;
}

.no-comment {
  color: #6a6a70;
}

.comment-content p {
  font-size: 13px;
}

.community-screen {
  width: 375px;
  height: 100vh;
  background-color: #f2f2f7;
  overflow-y: auto;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  -ms-overflow-style: none;
  padding-bottom: 90px;
}

.community-screen::-webkit-scrollbar {
  display: none;
}

.community-container {
  width: 375px;
  padding-top: 45px;
  padding-bottom: 60px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

.add-post-btn {
  display: flex;
  position: fixed;
  right: calc((100% - 375px) / 2 + 10px);
  bottom: 70px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: #0e207f;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.add-post-btn img {
  width: 18px;
  height: 18px;
}

.community-header {
  position: fixed;
  width: 375px;
  height: 44px;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #f2f2f7;
  justify-content: space-between;
  padding-top: 5px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.03);
}

.community-header div:nth-child(1) {
  display: flex;
  justify-content: center;
  color: #6a6a70;
  font-weight: 400;
  font-size: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.community-header div:nth-child(2) {
  margin-left: auto;
  margin-right: 7px;
  cursor: pointer;
}

.community-header div:nth-child(3) {
  width: 24px;
  height: 24px;
}

.community-main {
  background-color: #ffffff;
}

.club-img {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}

.clubImgInTitle {
  width: 30px;
  margin-left: 5px;
}

.post-title {
  display: flex;
  align-items: center;
  background-color: white;
  width: 375px;
  padding: 5px;
  color: rgb(222, 222, 222);
  /* box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08); */
  /* border-bottom: 1px solid #c7c7c7; */
}

p {
  margin: 5px;
  font-size: small;
  color: black;
}

.dot-3 {
  width: 16px;
  padding-bottom: 2px;
}

.dotbox {
  margin-left: auto;
  width: 25px;
  height: 25px;
}

.dotbox:hover {
  cursor: pointer;
}

.postImg {
  width: 375px;
  height: 375px;
  margin: 0;
  display: block;
  object-fit: contain;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  width: 5px;
  margin: 6px 3px;
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
}

.reactbar {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.reactbar p {
  margin: 2px;
}

.heart,
.comment {
  width: 24px;
  margin: 7px;
  cursor: pointer;
}

.contentTitle {
  font-weight: bolder;
  padding: 4px 7px 3px 7px;
}

.content {
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 7px;
}
