* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

body {
  background-color: #ffffff;
}

.mobile-container {
  width: 375px;
  margin: 0 auto;
  background: white;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  width: 375px;
  justify-content: center;
}

.blank {
  color: rgb(53, 62, 72);
  height: 20px;
  margin: 0%;
  padding: 13px;
}

.reviseBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 375px;
  height: 40px;
  padding: 10px 15px;
  font-weight: bold;
  font-size: small;
}

button {
  background-color: transparent;
  border: none;
  color: rgb(19, 19, 162);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.reviseBtn button:nth-child(3) {
  font-weight: 700;
}

.reviseBtn p {
  color: #6a6a70;
  font-size: 15px;
  font-weight: 700;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  width: 5px;
  margin: 10px 3px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

input {
  border: none;
  margin: 10px;
  height: 25px;
  outline: none;
}

.post-title {
  font-size: 14px;
  font-weight: 400;
}

.post-content {
  font-size: 13px;
  font-weight: 400;
}

.post-title::placeholder {
  font-size: 14px;
  color: gray;
}

.post-content::placeholder {
  font-size: 13px;
  color: gray;
}

hr {
  border: none; /* 기존 테두리 제거 */
  height: 1px; /* 높이 설정 */
  background-color: #e7e7e7;
}

.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  background-color: rgb(244, 244, 244);
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

.upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 30px;
  margin: 0 auto;
  font-size: 13px;
  color: #6a6a70;
  margin-top: 7px;
  gap: 15px;
}

.upload-btn p {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 20px;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.upload-btn p:hover {
  background-color: rgb(244, 244, 244);
}

.add-btn {
  cursor: pointer;
}

.display-info {
  font-size: 14px;
  margin: 40px 30px 10px 30px;
  font-size: 13px;
  font-weight: 400;
  color: rgb(109, 109, 109);
}

table {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* 수평 중앙 정렬 */
  border-collapse: collapse; /* 테두리 중복 제거 */
  border-radius: 10px;
  overflow: hidden; /* 테두리가 둥글게 유지되도록 */
  width: 320px;
  font-size: 14px;
}

tbody {
  height: 90px;
}

td {
  height: 35px;
  border: none;
  border-top: 1px solid #ddd;
}

.text {
  padding-left: 13px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
}

tr:first-child td {
  border-top: none;
}

.icon {
  text-align: right;
}

.icon img {
  cursor: pointer;
  width: 17px;
  margin-right: 10px;
  margin-top: 3px;
}
