* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f7;
}

/* 동아리 탈퇴 요청 모달 */

/*팝업 배경*/
.leave-club-modal-container {
  display: none; /*평소에는 보이지 않도록 */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 375px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.leave-club-modal-wrap {
  /*팝업*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 25px; */
  background: #dbdbdb;
  border-radius: 8px;
  width: 210px;
  height: 130px;
  /* margin-bottom: 50px; */
}

.leave-club-modal-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 65%;
  border-bottom: 1px solid #383a3d80;
}

.leave-club-modal-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35%;
}

.leave-club-modal-cancel,
.leave-club-modal-request {
  flex: 1; /* 균등 분배 */
  height: 100%;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  text-align: center;
  line-height: 50px; /* 버튼 높이와 동일 */
}

.leave-club-modal-cancel {
  border-right: 1px solid #383a3d80;
  cursor: pointer;
}

.leave-club-modal-request {
  color: red;
  cursor: pointer;
}

.leave-club-modal-cancel:hover,
.leave-club-modal-request:hover {
  background-color: #383a3d20;
}

/* 계정 탈퇴 모달 */

/*팝업 배경*/
.delete-account-modal-container {
  display: none; /*평소에는 보이지 않도록 */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 375px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.delete-account-modal-wrap {
  /*팝업*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 25px; */
  background: #dbdbdb;
  border-radius: 8px;
  width: 210px;
  height: 130px;
  /* margin-bottom: 50px; */
}

.delete-account-modal-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 65%;
  border-bottom: 1px solid #383a3d80;
}

.delete-account-modal-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35%;
}

.delete-account-modal-cancel,
.delete-account-modal-request {
  flex: 1; /* 균등 분배 */
  height: 100%;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  text-align: center;
  line-height: 50px; /* 버튼 높이와 동일 */
}

.delete-account-modal-cancel {
  border-right: 1px solid #383a3d80;
  cursor: pointer;
}

.delete-account-modal-request {
  color: red;
  cursor: pointer;
}

.delete-account-modal-cancel:hover,
.delete-account-modal-request:hover {
  background-color: #383a3d20;
}

/* 프로필사진 변경 모달 */

/*팝업 배경*/
.edit-profile-modal-container {
  display: none; /*평소에는 보이지 않도록 */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 375px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

.edit-profile-modal-wrap {
  /*팝업*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 25px; */
  background: #dbdbdb;
  border-radius: 8px;
  width: 300px;
  height: 100px;
  /* margin-bottom: 50px; */
}

.edit-profile-modal-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 45%;
  border-bottom: 1px solid #383a3d80;
}

.edit-profile-modal-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55%;
}

.edit-profile-modal-image,
.edit-profile-modal-default {
  flex: 1; /* 균등 분배 */
  height: 100%;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  text-align: center;
  line-height: 50px; /* 버튼 높이와 동일 */
}

.edit-profile-modal-image {
  color: #0e207f;
  border-right: 1px solid #383a3d80;
  cursor: pointer;
}

.edit-profile-modal-default {
  color: #0e207f;
  cursor: pointer;
}

.edit-profile-modal-image:hover,
.dedit-profile-modal-default:hover {
  background-color: #383a3d20;
}

/* 동아리 프로필 변경 모달 */

/*팝업 배경*/
.club-change-container {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 375px;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.club-change-wrap {
  /*팝업*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 레이아웃 */
  gap: 10px; /* 동아리 카드 간격 */
  justify-content: center;
  align-items: center;
}

.club {
  width: 150px;
  height: 150px;
  position: relative;
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.05);
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
  /* 클럽 이름 영역 35px을 위한 공간 확보 */
  padding-bottom: 35px;
}

/* 이미지 영역: 클럽 이름 영역을 제외한 영역 중앙에 위치 */
.club_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* 클럽 이름 영역을 제외한 높이 */
  bottom: 35px;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* 클럽 이름은 카드 하단에 고정 */
.club-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: rgb(243, 205, 159);
  color: #ffffff;
  font-weight: bolder;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: center;
  line-height: 35px;
  margin: 0;
  padding: 0;
}

.club-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 5px;
  cursor: pointer;
}

.club-item:hover {
  background: #f0f0f0;
}
